.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .grid-item {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    box-shadow: #7198EF75 1px 1px 10px;
  }
  .grid-item:hover{
    box-shadow: #7198EF75 2px 2px 15px;
  }
  .top-section >*{
    font-size: 14px;
  }
  .top-section {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 8px;
    /* border: 1px solid var(--gradient-blue-45, #006AFF); */
    /* border: 1px solid var(linear-gradient(90deg, #006AFF 0%, #D682FF 100%)); */
    border: 1px solid;
    border-image: linear-gradient(90deg, #006AFF, #D682FF);
    border-image-slice: 1;
    background: var(--Foundation-White, #FFF);
    margin-bottom: 12px;
  }
  
  .top-image {
    width: auto;
    height: auto;
    object-fit: cover;
  }
  
  .top-text {
    font-weight: bold;
  }
  .mid{
    max-height: 392px;
    overflow: auto;
  }
  .mid-section {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .mid-section *{
    font-size: 12px;
  }
  .midcontent{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .mid-item {
    height: 25px;
    /* padding: 10px 0; */
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .mid-logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .link-image {
    color: #0070f3;
    text-decoration: none;
  }
  
  .bottom-section {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .bottom-button {
    /* background-color: #0070f3; */
    background-color: var(--gray);
    color: #1f2020;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
  }
  
  .bottom-button:hover {
    background-color: #005bb5;
  } 
  
  /* Scrollbar styling (optional) */
  
  .mid-section::-webkit-scrollbar {
    width: 8px;
  }
  
  .mid-section::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  } 
  
  .mid-section::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  } 
  .ranknum{
    display: flex;
    width: 36px;
    padding: 2px 4px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border-radius: 8px;
    background: var(--Foundation-Gray-gray-100, #F5F5F5);
    color: black;
    margin-right: 12px;
  }
  .top3{
    background: var(--gradient-blue-45, linear-gradient(90deg, #006AFF 0%, #D682FF 100%));
    color: white !important;
  }