@keyframes fadeLeftToRight {
    from {
        opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.container{
    position: fixed; /* 화면 전체 기준 */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    z-index: 9999; /* 다른 요소보다 위에 표시 */
}

.loading{
    position: absolute;
    top: 50%;
    left: 40% ;
    width: 150px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('/31ais_logo.svg');
    animation: fadeLeftToRight 2s infinite;
}

@media (max-width:768px) {
  .container{
    width: 100vw !important;
    height: 100vh !important;
  }
  .loading{
    top: 50% !important;
    left: calc(0.7/2*100vw)  !important;
  }
  
}