.container *{
    font-family: Pretendard;
}
.featured{
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    height: 24px;
    gap: 4px;
}
.fname{
    color : var(--primary);
    white-space: nowrap;
    cursor: pointer;
}
.newsrow{
    width: 100%;
    padding : 16px 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    cursor: pointer;
}
.newsrow::after{
}
.container{
    width: 1200px;
    height: auto;
}
.title > span {
    font-family: Pretendard-bold;
    margin-left: 20px;
}
.title{
    border-radius: 8px;
    display: flex;
    justify-content: baseline;
    align-items: center;
    width: 100%;
    height: 44px;
    background-color: white;
    border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #006AFF, #D682FF);
    background-origin: border-box;
    background-clip: content-box, border-box;   
}
.topcontainer{
    margin-top: 20px;
    display: flex;
    width: 100%;
    height: 372px;
    background-color: white;
    gap: 24px;
    border-radius: 8px;
}
@media (max-width: 768px) {
    .featuredContainer, .newsContainer, .hashtagdiv{
        width: 100% !important;
    }
    .container{
        width: 100% !important;
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        background-color: white !important;
    }
    .title
    , .flex1 > img
    , .summarydiv
    , .borderdiv
    , .suminner
    , .sumbutton
    , .menupath
    {
        width: 90% !important;
    }
    .topcontainer{
        width: 100% !important;
        position: relative !important;
        display: flex !important;
        flex-direction: column !important;
        height: auto !important;
        gap: unset !important;
    }
    .flex1{
        gap: unset !important;
    }
    .flex1, .flex2{
        padding :unset !important;
        width: 100% !important;
        height: auto !important;
        flex: unset !important;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }
    .hashtagdiv{
        justify-content: baseline !important;
        align-items: baseline;
        padding : 12px 0px 12px 20px !important;
    }
    .featured{
        height: auto !important;
        padding : 12px 20px 12px 0px !important;
        border-bottom: 1px solid #E0E0E0 !important;
    }
    .newsrow{
        flex-direction: column !important;
        gap: 4px !important;
        padding : 12px 0px !important;
    }
    .subtitle{
        margin-bottom: 16px !important;
    }
}
.flex1{
    padding : 24px;
    flex : 0.4;
    display: flex;
    flex-direction: column;
    gap: 24px;
    
}
.flex2{
    padding : 24px;
    flex: 0.6;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #006AFF, #D682FF);
    background-origin: border-box;
    background-clip: content-box, border-box;    */
}
.borderdiv{
    width: 100%;
    height: auto;
    border: 1px solid transparent;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #006AFF, #D682FF);
    background-origin: border-box;
    background-clip: content-box, border-box;   
    border-radius: 4px;
}
.summarydiv{
    padding : 20px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap : 8px;
    max-height: 190px;
    border-radius: 4px;
}
.desc_sum{
    font-family: Pretendard;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical
}
.sumt{
    font-family: Pretendard-SemiBold;
}
.descContainer{
    margin-top: 20px;
    background-color: white;
    width: 100%;
    height: auto;
    padding : 20px 24px;
    border-radius: 8px;
}
.desc_cname{
    /* padding : 20px; */
    font-family: Pretendard-Bold;
}
.f_desc{
    width: 100%;
    height: 1.5rem;
    white-space: nowrap;        /* 텍스트를 한 줄로 표시 */
    overflow: hidden;           /* 넘치는 텍스트를 숨김 */
    text-overflow: ellipsis;
}
.featuredContainer{
    margin-top: 20px;
    padding: 20px 24px;
    background-color: white;
    border-radius: 8px;
}

.newsContainer{
    margin-top: 20px;
    padding: 20px 24px;
    background-color: white;
    margin-bottom: 80px;
    border-radius: 8px;
}
.order{
    width: 18px;
}
.subtitle{
    font-family: Pretendard-SemiBold;
    margin-bottom: 20px;
}
.grborder{
    margin-top: 20px;
    margin-bottom: 20px;
}
.suminner
,.sumbutton{
    width: 100%;
    height: 56px;
    border: 1px solid transparent;
    
    background-origin: border-box;
    background-clip: content-box, border-box; 
    border-radius: 4px;
}
.score{
    font-family: Pretendard-Bold;
    padding-left: 20px;
}
.suminner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(#fff, #fff), linear-gradient(to right, #006AFF, #D682FF);
}
.sumbutton{
    background-image: linear-gradient(to right, #006AFF, #D682FF);
    color :white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.newsTitle{
    font-family: Pretendard-Bold;
}
.rating{
    display: flex;
    gap: 12px;
    padding-right: 20px;
    font-size: 14px;
    line-height: 24px;
    font-family: Pretendard;
}
.hashtagdiv{
    display: flex;
    gap: 8px;
    width: 462px;
    overflow: scroll;
    height: 56px;
    align-items: center;
    flex-shrink: 0;
}
.hashtagdiv::-webkit-scrollbar{
    color : transparent
}
.hashtag{
    white-space: nowrap;
    width: 98px;
    height: 32px;
    border-radius: 16px;
    border: 1px solid var(--Foundation-Gray-gray-300----, #E0E0E0);
    display: flex;
    align-items: center;
    justify-content: center;
    padding : 4px 12px;
    font-family: Pretendard;
}
.from{
    opacity: 0.64;
}

.menupath{
    display: flex;
    align-items: center;
    gap: 8px;
    marginTop:20px;
    marginBottom:20px;
    color: #616161;
    padding : 20px 0px ;
}