@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray: #f2f2f2;
  --primary : #2D79F6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --black : black;
    --white : white;
  }
}
body *{
  font-family: Pretendard;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #F5F5F5;
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Pretendard';
  src: url('/static/fonts/Pretendard-Regular.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* Cross-Origin 사용을 위한 설정 */
  cross-origin: anonymous;
}
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('/static/fonts/Pretendard-SemiBold.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* Cross-Origin 사용을 위한 설정 */
  cross-origin: anonymous;
}
@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('/static/fonts/Pretendard-ExtraBold.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* Cross-Origin 사용을 위한 설정 */
  cross-origin: anonymous;
}

@font-face {
  font-family: 'Pretendard-Black';
  src: url('/static/fonts/Pretendard-Black.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* Cross-Origin 사용을 위한 설정 */
  cross-origin: anonymous;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('/static/fonts/Pretendard-Bold.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* Cross-Origin 사용을 위한 설정 */
  cross-origin: anonymous;
}
@font-face {
  font-family: 'Pretendard-Light';
  src: url('/static/fonts/Pretendard-Light.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* Cross-Origin 사용을 위한 설정 */
  cross-origin: anonymous;
}
@font-face {
  font-family: 'Pretendard-Thin';
  src: url('/static/fonts/Pretendard-Thin.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* Cross-Origin 사용을 위한 설정 */
  cross-origin: anonymous;
}
@font-face {
  font-family: 'Pretendard-Medium';
  src: url('/static/fonts/Pretendard-Medium.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* Cross-Origin 사용을 위한 설정 */
  cross-origin: anonymous;
}
@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('/static/fonts/Pretendard-ExtraLight.otf') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  /* Cross-Origin 사용을 위한 설정 */
  cross-origin: anonymous;
}