.container{
    width: 1200px;
    height: auto;
    min-height: 100vh;
    background-color: white;
    padding : 20px 24px;
}
.title_container{

}
.esrch_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.esrchgrid{
    width: 73.5%;
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 15px;
}
.grid_item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding : 20px 24px;
    background-color: #F5F5F5;
    width: auto;
    height: 120px;
    border-radius: 8px;
    background: var(--Foundation-Gray-gray-100, #F5F5F5);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.04);
}
.categoryimg{
    display: flex;
    justify-content: flex-end;
}
.grid_container{
    
}
.result_container{

}